@import url("./imports.css");

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Reset default styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: var(--main-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color)
}

input,
button,
textarea {
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--title-font-size);
  font-weight: var(--font-bold);
}

p {
  line-height: 130%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* CLasses for reuse */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section__title {
  text-align: center;
  font-size: var(--max-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 2rem;
}

.main {
  overflow: hidden;
}
/* ============== HEADER ============== */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-100);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

.nav__toggle,
.nav__close {
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  position: relative;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__link::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--first-color-light);
  position: absolute;
  left: 0;
  bottom: -.5rem;
  transition: width .3s;
}
.nav__link:hover {
  color: var(--first-color-light)
}

.nav__link:hover::after {
  width: 30%;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.show-menu {
  right: 0;
}

.blur-header::after {
  content: '';
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(var(--hue), 70%, 4%, 0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  top: 0;
  left: 0;
  z-index: -1;
}
/* ============== HEADER ============== */

/* ============== HOME ============== */
.home__container {
  row-gap: 2rem;
  padding-top:  1rem;
}
.home__img {
  width: 220px;
  justify-self: center;
  mask-image: linear-gradient(to bottom, 
              hsla(var(--hue), 40%, 16%) 60%,
              transparent 100%);
}
.home__name {
  font-size: var(--max-font-size);
  font-weight: var(--font-bold);
  word-break: break-word;
  margin-bottom: 1rem;
}
.home__profession {
  position: relative;
  font-size: var(--max-font-size);
  color: var(--text-color);
}
.home__profession::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 25%;
  height: 3px;
  background-color: var(--text-color);;
}
.home__scroll {
  color: var(--title-color);
  display: inline-flex;
  column-gap: 0.5rem;
  align-items: center;
  justify-self: center;
  margin-top: 3rem;
}
.home__scroll-box {
  width: 32px;
  height: 32px;
  background-color: var(--first-color);
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  overflow: hidden;
}
.home__scroll-text {
  font-weight: var(--font-semi-bold);
}

.home__scroll-box i {
  animation: scroll-down 3s infinite;
}
@keyframes scroll-down {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0.6rem);
    opacity: 0;
  }
}
/* ============== HOME ============== */
/* ============== //// ============== */
/* ============== WORK ============== */
.work {
  background-color: var(--container-color);
}
.work__card {
  background-color: var(--first-color);
}
.work__link {
  display: block;
  position: relative;
  background-color: var(--body-color);
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  color: var(--text-color);
  transition: transform 0.4s;
}
.work__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.75rem;
}
.work__desription {
  margin-bottom: 1.5rem;
}
.work__link i {
  position: absolute;
  top: 1.8rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--first-color-light);
  transition: transform 0.4s;
}
.work__link:hover {
  transform: translateY(-0.35rem);
}
.work__link:hover i {
  transform: translateX(0.5rem);
}
/* ============== WORK ============== */


