@import url("./variablles.css");
@media screen and (min-width: 1150px) {
    :root {
        --max-font-size: 5.5rem;
        --big-font-size:2.75rem;
        --title-font-size: 2.25rem;
        --subtitle-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1.125rem;
        --small-font-size: 0.75rem; 
    }
}